Here are some installation instructions for 2 of the dependencies required, bit and web3.

*Note* Along the installation process of bit or web3 you may experience an issue related with the Microsoft Visual C++ Build tools in Windows if you update Windows after installing the build tools, and before installing these Python libraries.
You may see an error message that states that wheel is not supported, the solution for this issue is to uninstall and reinstall the Microsoft Visual C++ Build Tools.

1. Update Conda Environment
An out-of-date Anaconda environment can create issues when trying to install new packages. Follow the below steps to update your conda environment.
Important Note: Windows users MUST use the Anaconda Prompt to run these commands.


* Deactivate your current conda environment. This is required in order to update the global conda environment. Be sure to quit any running applications, such as Jupyter, prior to deactivating the environment.
	-conda deactivate


* Update conda.
	-conda update conda


2. Create a fresh conda environment to use with web3 and bit.
	- conda create -n ethereum python=3.7 anaconda


3. Activate the new environment.
	-conda activate ethereum


4. Install the web3 and bit packages.
	- pip install web3
	- pip install bit

5. Verify the installations. You should see the name of the package and the version. Build should show "pypi_0" and Channel should show "pypi."
	- conda list web3

	- conda list bit